In [1]:
CREATE DATABASE Seguradora

In [2]:
USE Seguradora

In [19]:
CREATE TABLE cliente(
    cod_cliente INT PRIMARY KEY REFERENCES cliente(cod_cliente) ,
    nome_cliente VARCHAR (45) NOT NULL,
    cpf VARCHAR (45) NOT NULL UNIQUE,
    sexo VARCHAR (20),
    estado VARCHAR (45),
    cidade VARCHAR (45),
    bairro VARCHAR(45),
    numero VARCHAR (45),
    rua VARCHAR (45),
    Telefone_fixo VARCHAR(45),
    telefone_celular VARCHAR(45) NOT NULL UNIQUE,

)

: Msg 2714, Level 16, State 6, Line 1
Já existe um objeto com nome 'cliente' no banco de dados.

In [14]:
CREATE TABLE carro(
    cod_carro INT PRIMARY KEY REFERENCES carro(cod_carro),
    placa VARCHAR (45) NOT NULL UNIQUE,
    marca VARCHAR (45) NOT NULL,
    modelo VARCHAR (45) NOT NULL,
    ano VARCHAR (45) NOT NULL,
    chassi VARCHAR (45) NOT NULL UNIQUE,
)

In [22]:
CREATE TABLE apolice(
    cod_apolice INT PRIMARY KEY REFERENCES apolice(cod_apolice) ,
    cod_cliente INT,
    cod_carro INT,
    valor_cobertura MONEY NOT Null,
    valor_franquia MONEY NOT Null,
    data_inicio_vigencia DATE NOT NULL CHECK (data_inicio_vigencia > getdate()), 
    data_fim_vigencia DATE NOT NULL,
    CONSTRAINT fk_cod_cliente FOREIGN KEY (cod_cliente) REFERENCES cliente(cod_cliente),
    CONSTRAINT fk_carro_cod_carro FOREIGN KEY (cod_carro)  REFERENCES carro(cod_carro)
    

)

In [25]:
CREATE TABLE sinistro(
    cod_carro INT,
    cod_apolice INT,    
    hora_sinistro int,
    data_sinistro DATE,
    local_sinistro VARCHAR (45),
    condutor VARCHAR (45),
    CONSTRAINT pk_cod_sinistro PRIMARY KEY (cod_carro, cod_apolice),
    CONSTRAINT fk_cod_carro FOREIGN KEY (cod_carro)  REFERENCES carro(cod_carro),
    CONSTRAINT fk_cod_apolice FOREIGN KEY (cod_apolice) REFERENCES apolice(cod_apolice)

)

: Msg 156, Level 15, State 1, Line 2
Sintaxe incorreta próxima à palavra-chave 'DEFAULT'.

In [12]:
DROP TABLE clientes